
<div class="toast hide position-absolute mt-2" style="left: 50%" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
    </div>
</div>
<br/>
<div>
name
    <input class="field" type="text" name="name" value="<%= event.name %>">
    <br>
    description
    <textarea class="field" name="description"><%= event.description %></textarea>
    <br>
    Open Registration
    <input class="field" id="openRegis" name="openRegis" type="date"><br/>
    Close Registration
    <input class="field" id="closeRegis" 
        name="closeRegis" 
        type="date"
        data-toggle="popover" 
        data-content="Close registration can't before open registration"><br/>
    price
    <input class="field" type="text" name="price" value="<%= event.price %>">
    <br/>
    seat
    <input class="field" type="text" name="seat" value="<%= event.seat %>">
    <br>
    <button class="save" id="seat" style="display: none">update</button>
    <br/>
</div>
FIELD
<br/>
<% event.formSchema.forEach(function(field){ %>
    <li id="<%=field._id%>">
        <select class="inputType" name="inputType_<%= field.label %>">
            <option value="<%= field.inputType %>" selected hidden><%= field.inputType %></option>
            <option value="email">email</option>
            <option value="text">text</option>
            <option value="number">number</option>
        </select>
        <input class="labelText" type="text" name="<%= field.label %>" value="<%= field.label %>">
        <button class="update-btn" id="<%= field._id %>" name="update" style="display: none" type="submit">update</button>
        <button class="delete-btn" id="<%= field._id %>" name="delete">delete</button>
    </li>
<% }) %>

<form action="/admin/event/edit/<%= event._id %>" method="POST"> 
    New Field<br />
    <select id="new_inputType" name="new_inputType">
        <option value="none" selected disabled hidden>Select your option</option>
        <option value="email">email</option>
        <option value="text">text</option>
        <option value="number">number</option>
    </select>
    
    <input type="text" id="new_label" name="new_label">
    <button id="newField-btn" type="submit" style="display: none">Save</button>
</form>

<script>
    $(document).ready(function() {
      $(".field").change(function(){
          $('.save').show();
      })
    });

    $(document).ready(function(){
        $(".save").click(async function(e){
            e.preventDefault()
            $('.toast-body').text('Saving...')
            $('.toast').toast({delay:1000000});
            $('.toast').toast('show');

            let eventField = {};
            eventField = {
                type: 'event'
            }
            $(".field").each(function(){
                let name = $(this).attr('name');
                let value = $(this).val();
                eventField[name]=value;
                
            })
            console.log(eventField)
            await $.post('/admin/event/edit/<%=event._id%>?_method=PUT',eventField)
            $(".save").hide()
            $('.toast').toast('dispose')
            $('.toast-body').text('Updated')
            $('.toast').toast({delay:2000});
            $('.toast').toast('show');
        })
    })
</script>
<script>
    $(document).ready(function(){
        $('[id="openRegis"],[id="closeRegis"]').change(function(){
            let openRegis = $("#openRegis").val()
            let closeRegis = $("#closeRegis").val()
            console.log(openRegis + " " + closeRegis)
            let isAfter = moment(openRegis).isAfter(closeRegis);
            console.log(isAfter)
            if(isAfter){
                $(".save").attr("disabled",true);
                $('[data-toggle="popover"]').popover("show")
            }else{
                $(".save").attr("disabled",false);
                $('[data-toggle="popover"]').popover("hide")
            }
        })
    })

    $(document).ready(function(){
        $(".labelText, .inputType").change(function(){
            let id = $(this).parent().attr('id')
            $(`button#${id}.update-btn`).show();
        })
    })

    $(document).ready(function(){
        $(".update-btn").click(async function(e){
            try{
                e.preventDefault()
                $('.toast-body').text('Saving...')
                $('.toast').toast({delay:1000000});
                $('.toast').toast('show');
                let newLabel = $(this).siblings('input').val()
                let newType = $(this).siblings('select').val()
                let id = $(this).attr('id');
                let newFormField = {}
                newFormField = {
                    submit:"update",
                    type:"formSchema",
                    _id:id,
                    label:newLabel,
                    inputType:newType
                }
                console.log(newFormField)
            
                await $.post('/admin/event/edit/<%=event._id%>?_method=PUT',newFormField)
                $(this).hide()
                $('.toast').toast('dispose')
                $('.toast-body').text('Updated')
                $('.toast').toast({delay:2000});
                $('.toast').toast('show');
            }catch(err){
                console.log(err)
            }
        })
    })

    $(document).ready(function(){
        $(".delete-btn").click(async function(e){
            try{
                e.preventDefault()
                $('.toast-body').text('Deleting...')
                $('.toast').toast({delay:1000000});
                $('.toast').toast('show');
                let id = $(this).attr('id');
                let deleteField = {}
                deleteField = {
                    _id:id,
                }
                console.log(deleteField)
            
                await $.post('/admin/event/edit/<%=event._id%>?_method=DELETE',deleteField)

                $('.toast').toast('dispose')
                $('.toast-body').text('Delete Succeed')
                $('.toast').toast({delay:2000});
                $('.toast').toast('show');
                $(this).parent().remove()
            }catch(err){
                console.log(err)
            }
        })
    })
</script>